
.cursor {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1000;  
    pointer-events: none;
    mix-blend-mode: difference;
}
  
.circle {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    background-color: #fff;
}
  
